[submodule "wow-ui-source"]
	path = wow-ui-source
	url = git@github.com:Gethe/wow-ui-source.git
[submodule "IntelliJ-IDEA-Lua-IDE-WoW-API"]
	path = IntelliJ-IDEA-Lua-IDE-WoW-API
	url = git@github.com:Ellypse/IntelliJ-IDEA-Lua-IDE-WoW-API.git
[submodule "HandyNotes"]
	path = HandyNotes
	url = git@github.com:Nevcairiel/HandyNotes.git
[submodule "BlizzardInterfaceResources"]
	path = BlizzardInterfaceResources
	url = git@github.com:Ketho/BlizzardInterfaceResources.git
[submodule "libqtip-1-0"]
	path = libqtip-1-0
	url = https://repos.wowace.com/wow/libqtip-1-0
